<div class="container">
    <!-- Modal para agregar/editar proyecto -->
    <div id="proyectoModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>{{ proyecto.id === 0 ? 'Agregar proyecto' : 'Editar proyecto' }}</h2>
            <hr class="modal-border">

            <form #proyectoForm="ngForm" (ngSubmit)="onSubmit(proyectoForm)" novalidate>
                <input type="hidden" name="id" [(ngModel)]="proyecto.id">

                <div class="row">
                    <div class="col">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="proyecto.nombre"
                            required maxlength="50" pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$">
                    </div>

                    <div class="col">
                        <label for="jornada_tecnica" class="form-label">Jornada técnica:</label>
                        <select class="form-control" id="jornada_tecnica" name="jornada_tecnica"
                            [(ngModel)]="proyecto.jornada_tecnica" required>
                            <option value="" disabled selected>Seleccione una opción</option>
                            <option value="MAÑANA">MAÑANA</option>
                            <option value="TARDE">TARDE</option>
                            <option value="NOCHE">NOCHE</option>
                            <option value="FIN DE SEMANA">FIN DE SEMANA</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="fase" class="form-label">Fase:</label>
                        <select class="form-control" id="fase" name="fase" [(ngModel)]="proyecto.fase" required>
                            <option value="" disabled selected>Seleccione una fase</option>
                            <option value="Ejecución">Ejecución</option>
                            <option value="Planeación">Planeación</option>
                            <option value="Análisis">Análisis</option>
                            <option value="Análisis y contextualización">Análisis y contextualización</option>
                            <option value="Evaluación">Evaluación</option>
                            <option value="Etapa productiva">Etapa productiva</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="actividadNombre" class="form-label">Actividad:</label>
                        <div>
                            <input type="text" class="form-control input-field" matInput [matAutocomplete]="auto"
                                id="actividadNombre" name="actividadNombre" [(ngModel)]="proyecto.actividadNombre"
                                (input)="searchactividades($event)" placeholder="Buscar actividad" required
                                #actividadNombre="ngModel" />
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onactividadSelect($event)">
                                <mat-option *ngFor="let actividad of filteredActividades"
                                    [value]="actividad.actividad_proyecto">
                                    {{ actividad.actividad_proyecto }}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="modal-body">
                        <div class="col" *ngIf="proyecto.id !== 0">
                            <label for="state" class="form-label">Estado:</label>
                            <div>
                                <input type="checkbox" class="form-check-input bulk-select-checkbox" id="state"
                                    name="state" [(ngModel)]="proyecto.state"
                                    [ngClass]="proyecto.state ? 'state-active' : 'state-inactive'" />
                                <label class="form-check-label" for="state">{{ proyecto.state ? 'Activo' : 'Inactivo'
                                    }}</label>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                        <button type="submit" class="btn btn-primary" [disabled]="proyectoForm.invalid">
                            {{ isEditing ? 'Actualizar' : 'Guardar' }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Título con estilo -->
    <h2 class="title">Lista de proyectos</h2>

    <!-- Botón para abrir el modal de agregar proyecto -->
    <button class="btn btn-success add-btn" (click)="openModal()"><i class="bi bi-plus-circle"></i> Agregar
        proyecto</button>

    <!-- Campo de búsqueda -->
    <div class="search-container">
        <input matInput placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()" />
    </div>

    <!-- Tabla para mostrar los registros de proyectos -->
    <div class="table-container">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let proyecto"> {{ proyecto.nombre }} </td>
            </ng-container>

            <ng-container matColumnDef="jornada_tecnica">
                <th mat-header-cell *matHeaderCellDef> Jornada técnica </th>
                <td mat-cell *matCellDef="let proyecto"> {{ proyecto.jornada_tecnica }} </td>
            </ng-container>

            <ng-container matColumnDef="actividadId">
                <th mat-header-cell *matHeaderCellDef> Actividad </th>
                <td mat-cell *matCellDef="let proyecto"> {{ getActividadNombre(proyecto.actividadId) }} </td>
            </ng-container>

            <ng-container matColumnDef="fase">
                <th mat-header-cell *matHeaderCellDef> Fase </th>
                <td mat-cell *matCellDef="let proyecto"> {{ proyecto.fase }} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let proyecto">
                    <span
                        [ngClass]="proyecto.state ? 'state-indicator state-active' : 'state-indicator state-inactive'"></span>
                    {{ proyecto.state ? 'Activo' : 'Inactivo' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let proyecto">
                    <button class="btn-icon edit" (click)="editProyecto(proyecto)" title="Editar">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn-icon delete" (click)="deleteProyecto(proyecto.id)" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </ng-container>

            <!-- Definir filas -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <!-- Paginación -->
    <mat-paginator [length]="proyectos.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>