<div class="container">
    <!-- Modal para agregar/editar actividad -->
    <div id="actividadModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>{{ actividad.id === 0 ? 'Agregar actividad' : 'Editar actividad' }}</h2>
            <hr class="modal-border">

            <form #actividadForm="ngForm" (ngSubmit)="onSubmit(actividadForm)" novalidate>
                <input type="hidden" name="id" [(ngModel)]="actividad.id">

                <div class="row">
                    <div class="col">
                        <label for="actividad_proyecto" class="form-label">Actividad del proyecto:</label>
                        <input type="text" class="form-control" id="actividad_proyecto" name="actividad_proyecto"
                            [(ngModel)]="actividad.actividad_proyecto" required maxlength="50"
                            pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$">
                    </div>

                    <div class="col">
                        <label for="fecha_inicio_Ac" class="form-label">Fecha de inicio actividad:</label>
                        <input type="date" class="form-control" id="fecha_inicio_Ac" name="fecha_inicio_Ac"
                            [(ngModel)]="actividad.fecha_inicio_Ac" (change)="onDateChange()" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="fecha_fin_Ac" class="form-label">Fecha de fin actividad:</label>
                        <input type="date" class="form-control" id="fecha_fin_Ac" name="fecha_fin_Ac"
                            [(ngModel)]="actividad.fecha_fin_Ac" (change)="onDateChange()" required>
                    </div>

                    <div class="col">
                        <label for="num_semanas" class="form-label">Número de semanas:</label>
                        <input type="text" class="form-control" id="num_semanas" name="num_semanas"
                            [(ngModel)]="actividad.num_semanas" readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="competenciaNombre" class="form-label">Competencia:</label>
                        <div>
                            <input type="text" class="form-control input-field" matInput [matAutocomplete]="auto"
                                id="competenciaNombre" name="competenciaNombre"
                                [(ngModel)]="actividad.competenciaNombre" (input)="searchcompetencias($event)"
                                placeholder="Buscar competencia" required #competenciaNombre="ngModel" />
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="oncompetenciaSelect($event)">
                                <mat-option *ngFor="let competencia of filteredCompetencias"
                                    [value]="competencia.descripcion">
                                    {{ competencia.descripcion }}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>

                    <div class="col" *ngIf="actividad.id !== 0">
                        <label for="state" class="form-label">Estado:</label>
                        <div>
                            <input type="checkbox" class="form-check-input bulk-select-checkbox" id="state" name="state"
                                [(ngModel)]="actividad.state"
                                [ngClass]="actividad.state ? 'state-active' : 'state-inactive'" />
                            <label class="form-check-label" for="state">{{ actividad.state ? 'Activo' : 'Inactivo'
                                }}</label>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="actividadForm.invalid">
                        {{ isEditing ? 'Actualizar' : 'Guardar' }}
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Título con estilo -->
    <h2 class="title">Lista de actividades</h2>

    <!-- Botón para abrir el modal de agregar actividad -->
    <button class="btn btn-success add-btn" (click)="openModal()"><i class="bi bi-plus-circle"></i> Agregar
        actividad</button>

    <!-- Campo de búsqueda -->
    <div class="search-container">
        <input matInput placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()" />
    </div>

    <!-- Tabla para mostrar los registros de actividads -->
    <div class="table-container">
        <table mat-table [dataSource]="dataSource">

            <!-- Actividad del Proyecto -->
            <ng-container matColumnDef="actividad_proyecto">
                <th mat-header-cell *matHeaderCellDef> Actividad del proyecto </th>
                <td mat-cell *matCellDef="let actividad"> {{ actividad.actividad_proyecto }} </td>
            </ng-container>

            <!-- Competencias -->
            <ng-container matColumnDef="competenciaId">
                <th mat-header-cell *matHeaderCellDef> Competencias </th>
                <td mat-cell *matCellDef="let actividad"> {{ getCompetenciaNombre(actividad.competenciaId) }} </td>
            </ng-container>

            <!-- Fecha de Inicio -->
            <ng-container matColumnDef="fecha_inicio_Ac">
                <th mat-header-cell *matHeaderCellDef> Fecha de inicio </th>
                <td mat-cell *matCellDef="let actividad"> {{ actividad.fecha_inicio_Ac }} </td>
            </ng-container>

            <!-- Fecha de Fin -->
            <ng-container matColumnDef="fecha_fin_Ac">
                <th mat-header-cell *matHeaderCellDef> Fecha de fin </th>
                <td mat-cell *matCellDef="let actividad"> {{ actividad.fecha_fin_Ac }} </td>
            </ng-container>

            <!-- Número de Semanas -->
            <ng-container matColumnDef="num_semanas">
                <th mat-header-cell *matHeaderCellDef> Número de semanas </th>
                <td mat-cell *matCellDef="let actividad"> {{ actividad.num_semanas }} </td>
            </ng-container>

            <!-- Estado -->
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let actividad">
                    <span
                        [ngClass]="actividad.state ? 'state-indicator state-active' : 'state-indicator state-inactive'">
                    </span>
                    {{ actividad.state ? 'Activo' : 'Inactivo' }}
                </td>
            </ng-container>

            <!-- Acciones -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let actividad">
                    <button class="btn-icon edit" (click)="editActividades(actividad)" title="Editar">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn-icon delete" (click)="deleteActividades(actividad.id)" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </ng-container>

            <!-- Cabecera de la tabla -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <!-- Paginación -->
    <mat-paginator [length]="actividades.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>