<div class="container">
    <!-- Modal para agregar/editar usuario -->
    <div id="userModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>{{ user.id === 0 ? 'Agregar usuario' : 'Editar usuario' }}</h2>
            <hr class="modal-border">

            <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" novalidate>
                <input type="hidden" name="id" [(ngModel)]="user.id">

                <div class="row">
                    <div class="col">
                        <label for="username" class="form-label">Nombre de usuario:</label>
                        <input type="text" class="form-control" id="username" name="username"
                            [(ngModel)]="user.username" required>
                    </div>

                    <div class="col" *ngIf="user.id === 0">
                        <label for="password" class="form-label">Contraseña:</label>
                        <input type="text" class="form-control" id="password" name="password"
                            [(ngModel)]="user.password" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <!-- Persona -->
                        <label for="personName">Persona:</label>
                        <div class="form-label">
                            <input type="text" class="form-control input-field" matInput [matAutocomplete]="auto"
                                id="personName" name="personName" [(ngModel)]="user.personName"
                                (input)="searchpersons($event)" required #personName="ngModel" />
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onpersonSelect($event)">
                                <mat-option *ngFor="let person of filteredPersons" [value]="person.name">
                                    {{ person.name }}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>

                    <div class="col">
                        <!-- Roles Asociadas -->
                        <label for="roles">Roles asociadas:</label>
                        <div class="form-label">
                            <p-multiSelect id="roles" name="roles" [options]="roles" [(ngModel)]="user.roles" required
                                #rolesField="ngModel" optionLabel="name" placeholder="Selecciona roles"
                                scrollHeight="250px" display="chip">
                            </p-multiSelect>
                        </div>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col" *ngIf="user.id !== 0">
                            <input type="checkbox" class="form-check-input bulk-select-checkbox" id="state" name="state"
                                [(ngModel)]="user.state" [attr.data-bs-toggle]="'tooltip'"
                                [attr.data-bs-placement]="'top'" [attr.title]="user.state ? 'Activo' : 'Inactivo'" />
                            <label class="form-check-label" for="state">Estado</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">
                            {{ isEditing ? 'Actualizar' : 'Guardar' }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Título con estilo -->
    <h2 class="title">Lista de usuarios</h2>

    <!-- Botón para abrir el modal de agregar usuario -->
    <button class="btn btn-success add-btn" (click)="openModal()"><i class="bi bi-plus-circle"></i> Agregar
        usuario</button>

    <!-- Campo de búsqueda -->
    <div class="search-container">
        <input matInput placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()" />
    </div>

    <!-- Tabla para mostrar los registros de usuarios -->
    <div class="table-container">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> Nombre de usuario </th>
                <td mat-cell *matCellDef="let user"> {{ user.username }} </td>
            </ng-container>

            <ng-container matColumnDef="personId">
                <th mat-header-cell *matHeaderCellDef> Persona </th>
                <td mat-cell *matCellDef="let user"> {{ getPersonName(user.personId) }} </td>
            </ng-container>

            <ng-container matColumnDef="roleString">
                <th mat-header-cell *matHeaderCellDef> Roles </th>
                <td mat-cell *matCellDef="let user"> {{ user.roleString }} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let user">
                    <!-- Indicador de estado con color dinámico -->
                    <span
                        [ngClass]="user.state ? 'state-indicator state-active' : 'state-indicator state-inactive'"></span>
                    {{ user.state ? 'Activo' : 'Inactivo' }}
                </td>
            </ng-container>


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let user">
                    <button class="btn-icon edit" (click)="editUsers(user)" title="Editar">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn-icon delete" (click)="deleteUsers(user.id)" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </ng-container>

            <!-- Cabecera de la tabla -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <!-- Paginación -->
    <mat-paginator [length]="persons.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>