<div class="container">

    <!-- Modal para agregar/editar periodo -->
    <div id="periodoModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>{{ periodo.id === 0 ? 'Agregar periodo' : 'Editar periodo' }}</h2>

            <hr class="modal-border">

            <form #periodoForm="ngForm" (ngSubmit)="onSubmit(periodoForm)" novalidate>
                <input type="hidden" name="id" [(ngModel)]="periodo.id">

                <div class="row">
                    <div class="col">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="periodo.nombre"
                            required maxlength="5" pattern="^[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ\s]+$">
                    </div>

                    <div class="col">
                        <label for="fecha_inicio" class="form-label  input-field">Fecha de Inicio:</label>
                        <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio"
                            [(ngModel)]="periodo.fecha_inicio" required (change)="onFechaInicioChange()">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="fecha_fin" class="form-label  input-field">Fecha de finalización:</label>
                        <input type="date" class="form-control" id="fecha_fin" name="fecha_fin"
                            [(ngModel)]="periodo.fecha_fin" required>
                    </div>

                    <div class="col">
                        <label for="ano" class="form-label">Año:</label>
                        <input type="text" class="form-control" id="ano" name="ano" [(ngModel)]="periodo.ano" required
                            readonly>
                    </div>
                </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col" *ngIf="periodo.id !== 0">
                                <label for="state" class="form-label">Estado:</label>
                                <div>
                                    <input type="checkbox" class="form-check-input bulk-select-checkbox" id="state"
                                        name="state" [(ngModel)]="periodo.state"
                                        [ngClass]="periodo.state ? 'state-active' : 'state-inactive'" />
                                    <label class="form-check-label" for="state">{{ periodo.state ? 'Activo' : 'Inactivo'
                                        }}</label>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                            <button type="submit" class="btn btn-primary" [disabled]="periodoForm.invalid">
                                {{ isEditing ? 'Actualizar' : 'Guardar' }}
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>

    <!-- Título con estilo -->
    <h2 class="title">Lista de Periodos</h2>

    <!-- Botón para abrir el modal de agregar periodos -->
    <button class="btn btn-success add-btn" (click)="openModal()"><i class="bi bi-plus-circle"></i> Agregar
        Periodo</button>

    <!-- Campo de búsqueda -->
    <div class="search-container">
        <input matInput placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()" />
    </div>

    <!-- Tabla para mostrar los registros de periodos -->
    <div class="table-container">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let periodo"> {{ periodo.nombre }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_inicio">
                <th mat-header-cell *matHeaderCellDef> Fecha de inicio </th>
                <td mat-cell *matCellDef="let periodo"> {{ periodo.fecha_inicio }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_fin">
                <th mat-header-cell *matHeaderCellDef> Fecha de finalización </th>
                <td mat-cell *matCellDef="let periodo"> {{ periodo.fecha_fin }} </td>
            </ng-container>

            <ng-container matColumnDef="ano">
                <th mat-header-cell *matHeaderCellDef> Año </th>
                <td mat-cell *matCellDef="let periodo"> {{ periodo.ano }} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let periodo">
                    <!-- Indicador de estado con color dinámico -->
                    <span
                        [ngClass]="periodo.state ? 'state-indicator state-active' : 'state-indicator state-inactive'"></span>
                    {{ periodo.state ? 'Activo' : 'Inactivo' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let periodo">
                    <button class="btn-icon edit" (click)="editPeriodos(periodo)" title="Editar">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn-icon delete" (click)="deletePeriodos(periodo.id)" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </ng-container>

            <!-- Cabecera de la tabla -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <!-- Paginación -->
    <mat-paginator [length]="periodos.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>