<div class="container">

    <!-- Modal para agregar/editar módulo -->
    <div id="moduleModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>{{ module.id === 0 ? 'Agregar módulo' : 'Editar módulo' }}</h2>

            <hr class="modal-border">

            <form #moduleForm="ngForm" (ngSubmit)="onSubmit(moduleForm)" novalidate>
                <input type="hidden" name="id" [(ngModel)]="module.id">

                <div class="row">
                    <div class="col">
                        <label for="name" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="module.name" required
                            maxlength="25" pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$">
                    </div>

                    <div class="col">
                        <label for="description" class="form-label">Descripción:</label>
                        <input type="text" class="form-control" id="description" name="description"
                            [(ngModel)]="module.description" required maxlength="100"
                            pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="position" class="form-label">Posición:</label>
                        <input type="number" class="form-control" id="position" name="position"
                            [(ngModel)]="module.position" required maxlength="10" pattern="^\d{1,5}$">
                    </div>

                        <div class="col" *ngIf="module.id !== 0">
                            <label for="state" class="form-label">Estado:</label>
                            <div>
                                <input type="checkbox" class="form-check-input bulk-select-checkbox" id="state"
                                    name="state" [(ngModel)]="module.state"
                                    [ngClass]="module.state ? 'state-active' : 'state-inactive'" />
                                <label class="form-check-label" for="state">{{ module.state ? 'Activo' : 'Inactivo'
                                    }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                        <button type="submit" class="btn btn-primary" [disabled]="moduleForm.invalid">
                            {{ isEditing ? 'Actualizar' : 'Guardar' }}
                        </button>
                    </div>
            </form>
        </div>
    </div>

    <!-- Título con estilo -->
    <h2 class="title">Lista de Módulos</h2>

    <!-- Botón para abrir el modal de agregar módulos -->
    <button class="btn btn-success add-btn" (click)="openModal()"><i class="bi bi-plus-circle"></i> Agregar
        Módulo</button>

    <!-- Campo de búsqueda -->
    <div class="search-container">
        <input matInput placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()" />
    </div>

    <!-- Tabla para mostrar los registros de módulos -->
    <div class="table-container">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let module"> {{ module.name }} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let module"> {{ module.description }} </td>
            </ng-container>

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Posición </th>
                <td mat-cell *matCellDef="let module"> {{ module.position }} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let module">
                    <!-- Indicador de estado con color dinámico -->
                    <span
                        [ngClass]="module.state ? 'state-indicator state-active' : 'state-indicator state-inactive'"></span>
                    {{ module.state ? 'Activo' : 'Inactivo' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let module">
                    <button class="btn-icon edit" (click)="editModules(module)" title="Editar">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn-icon delete" (click)="deleteModules(module.id)" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </ng-container>

            <!-- Cabecera de la tabla -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <!-- Paginación -->
    <mat-paginator [length]="modules.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>