<div class="bg-image">
    <div class="container">
        <h2>Recuperación de contraseña</h2>

        <!-- Spinner -->
        <div *ngIf="isLoading" class="container1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <!-- Primer Paso -->
        <div *ngIf="currentStep === 1">
            <h6 class="text">¿Olvidaste tu contraseña? No te preocupes, ingresa tu
                correo electrónico a continuación y te enviaremos un código.</h6>
            <form>
                <div class="group">
                    <div class="col-10">
                        <input type="text" Class="main-input" id="email" [(ngModel)]="email" name="email" maxlength="50"
                            required />
                        <span class="highlight-span"></span>
                        <label class="lebal-email" for="email">Correo Electrónico</label>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" (click)="nextStep()">Enviar código de activación</button>
                <div class="button-group">
                    <button type="button" class="btn btn-primary1" (click)="confirmExit()">Atrás</button>
                </div>
            </form>
        </div>

        <!-- Segundo Paso -->
        <div *ngIf="currentStep === 2">
            <h6 class="text">Verificar dirección de correo electrónico</h6>
            <form>
                <div class="input-fields">
                    <input maxlength="1" type="tel" class="code-input" placeholder="" (input)="moveToNext($event, 0)"
                        id="code-1">
                    <input maxlength="1" type="tel" class="code-input" placeholder="" (input)="moveToNext($event, 1)"
                        id="code-2">
                    <input maxlength="1" type="tel" class="code-input" placeholder="" (input)="moveToNext($event, 2)"
                        id="code-3">
                    <input maxlength="1" type="tel" class="code-input" placeholder="" (input)="moveToNext($event, 3)"
                        id="code-4">
                </div>
                <h6 class="text">Introduce el código enviado a tu correo electrónico.</h6>

                <div class="button-group d-flex justify-content-between">
                    <button type="button" class="btn btn-primary1" (click)="confirmExitToStep1()">Atrás</button>
                    <button type="button" class="btn btn-primary" [disabled]="!isCodeComplete"
                        (click)="nextStep()">Verificar</button>
                </div>
            </form>
        </div>

        <!-- Tercer Paso (Crear nueva contraseña) -->
        <div *ngIf="currentStep === 3">
            <h3 class="text">Crear nueva contraseña</h3>
            <form class="needs-validation" (ngSubmit)="submitPassword()" novalidate>

                <!-- Nueva contraseña -->
                <div class="form-group position-relative">
                    <input [type]="showPassword ? 'text' : 'password'" id="newPassword" [(ngModel)]="newPassword"
                        name="newPassword" class="main-input" required (input)="validatePassword(newPassword)">
                    <span class="highlight-span"></span>
                    <label class="lebal-email" for="newPassword">Nueva contraseña</label>
                    <label class="password-toggle-container">
                        <input type="checkbox" (change)="togglePasswordVisibility()" [checked]="showPassword">
                        <div class="checkmark"></div>
                    </label>
                    <!-- Tooltip para mostrar mensajes de error -->
                    <div *ngIf="passwordError" class="tooltip-password" [class.show]="passwordError">
                        {{ passwordError }}
                    </div>
                </div>


                <!-- Confirmar contraseña -->
                <div class="form-group position-relative">
                    <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword"
                        name="confirmPassword" [(ngModel)]="confirmPassword" class="main-input" required>
                    <span class="highlight-span"></span>
                    <label for="confirmPassword" class="lebal-email">Confirmar contraseña</label>
                    <label class="password-toggle-container">
                        <input type="checkbox" (change)="toggleConfirmPasswordVisibility()"
                            [checked]="showConfirmPassword">
                        <div class="checkmark"></div>
                    </label>
                </div>

                <!-- Botón para crear la contraseña -->
                <button type="submit" class="btn btn-primary0"
                    [disabled]="!isPasswordsMatching(newPassword, confirmPassword)">
                    Crear contraseña
                </button>

                <!-- Botón para regresar -->
                <div class="button-group">
                    <button type="button" class="btn btn-primary1" (click)="confirmExitToStep2()">Atrás</button>
                </div>
            </form>
        </div>