<div class="container">
    <!-- Modal para agregar/editar vista -->
    <div id="viewModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>{{ view.id === 0 ? 'Agregar vista' : 'Editar vista' }}</h2>
            <hr class="modal-border">

            <form #viewForm="ngForm" (ngSubmit)="onSubmit(viewForm)" novalidate>
                <input type="hidden" name="id" [(ngModel)]="view.id">

                <div class="row">
                    <div class="col">
                        <label for="name" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="view.name" required
                            maxlength="50" pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$">
                    </div>

                    <div class="col">
                        <label for="description" class="form-label">Descripción:</label>
                        <input type="text" class="form-control" id="description" name="description"
                            [(ngModel)]="view.description" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="route" class="form-label">Ruta:</label>
                        <input type="route" class="form-control" id="route" name="route" [(ngModel)]="view.route"
                            required pattern="^/[a-zA-Z]+$" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="La ruta debe comenzar con '/' y solo contener letras después de él.">
                    </div>

                    <div class="col">
                        <!-- Modulo -->
                        <label for="moduleName" class="form-label">Módulo:</label>
                        <input type="text" class="form-control" matInput [matAutocomplete]="auto" id="moduleName"
                            name="moduleName" [(ngModel)]="view.moduleName" (input)="searchmodules($event)"
                            placeholder="Buscar módulo" required #moduleName="ngModel" />
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onmoduleSelect($event)">
                            <mat-option *ngFor="let module of filteredModules" [value]="module.name">
                                {{ module.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col" *ngIf="view.id !== 0">
                            <label for="state" class="form-label">Estado:</label>
                            <div>
                                <input type="checkbox" class="form-check-input bulk-select-checkbox" id="state"
                                    name="state" [(ngModel)]="view.state"
                                    [ngClass]="view.state ? 'state-active' : 'state-inactive'" />
                                <label class="form-check-label" for="state">{{ view.state ? 'Activo' : 'Inactivo'
                                    }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                        <button type="submit" class="btn btn-primary" [disabled]="viewForm.invalid">
                            {{ isEditing ? 'Actualizar' : 'Guardar' }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Título con estilo -->
    <h2 class="title">Lista de Vistas</h2>

    <!-- Botón para abrir el modal de agregar vista -->
    <button class="btn btn-success add-btn" (click)="openModal()"><i class="bi bi-plus-circle"></i> Agregar
        vista</button>

    <!-- Campo de búsqueda -->
    <div class="search-container">
        <input matInput placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()" />
    </div>

    <!-- Tabla para mostrar los registros de vistas -->
    <div class="table-container">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let view"> {{ view.name }} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let view"> {{ view.description }} </td>
            </ng-container>

            <ng-container matColumnDef="route">
                <th mat-header-cell *matHeaderCellDef> Ruta </th>
                <td mat-cell *matCellDef="let view"> {{ view.route }} </td>
            </ng-container>

            <ng-container matColumnDef="moduleId">
                <th mat-header-cell *matHeaderCellDef> Módulo </th>
                <td mat-cell *matCellDef="let view"> {{ getModuleName(view.moduleId) }} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let view">
                    <!-- Indicador de estado con color dinámico -->
                    <span
                        [ngClass]="view.state ? 'state-indicator state-active' : 'state-indicator state-inactive'"></span>
                    {{ view.state ? 'Activo' : 'Inactivo' }}
                </td>
            </ng-container>


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let view">
                    <button class="btn-icon edit" (click)="editViews(view)" title="Editar">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn-icon delete" (click)="deleteViews(view.id)" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </ng-container>

            <!-- Cabecera de la tabla -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <!-- Paginación -->
    <mat-paginator [length]="views.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>