<div class="container">
    <!-- Modal para agregar/editar ficha -->
    <div id="fichaModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>{{ ficha.id === 0 ? 'Agregar ficha' : 'Editar ficha' }}</h2>
            <hr class="modal-border">

            <form #fichaForm="ngForm" (ngSubmit)="onSubmit(fichaForm)" novalidate>
                <input type="hidden" name="id" [(ngModel)]="ficha.id">

                <div class="row">
                    <div class="col">
                        <label for="codigo" class="form-label">Código:</label>
                        <input type="text" class="form-control" id="codigo" name="codigo"
                            [(ngModel)]="ficha.codigo" required maxlength="50"
                            pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$">
                    </div>

                    <div class="col-md-6">
                        <label for="programaNombre" class="form-label">Programa:</label>
                        <div>
                            <input type="text" class="form-control input-field" matInput [matAutocomplete]="auto"
                                id="programaNombre" name="programaNombre"
                                [(ngModel)]="ficha.programaNombre" (input)="searchPrograma($event)" placeholder="Buscar programa" required
                                #programaNombre="ngModel" />
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onProgramaSelect($event)">
                                <mat-option *ngFor="let programa of filteredProgramas"
                                    [value]="programa.nombre">
                                    {{ programa.nombre }}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                </div>

                <div class="row">
                <div class="col">
                    <label for="ambienteNombre" class="form-label">Ambiente:</label>
                    <div>
                        <input type="text" class="form-control input-field" matInput [matAutocomplete]="auto"
                            id="ambienteNombre" name="ambienteNombre"
                            [(ngModel)]="ficha.ambienteNombre" (input)="searchAmbiente($event)" placeholder="Buscar ambiente" required
                            #ambienteNombre="ngModel" />
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAmbienteSelect($event)">
                            <mat-option *ngFor="let ambiente of filteredAmbientes"
                                [value]="ambiente.nombre">
                                {{ ambiente.nombre }}
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                </div>

            <div class="col">
                <label for="proyectoNombre" class="form-label">Proyecto:</label>
                <div>
                    <input type="text" class="form-control input-field" matInput [matAutocomplete]="auto"
                        id="proyectoNombre" name="proyectoNombre"
                        [(ngModel)]="ficha.proyectoNombre" (input)="searchProyecto($event)" placeholder="Buscar proyecto" required
                        #proyectoNombre="ngModel" />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onProyectoSelect($event)">
                        <mat-option *ngFor="let proyecto of filteredProyectos"
                            [value]="proyecto.nombre">
                            {{ proyecto.nombre }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>
        </div>

                <div class="row">
                    <div class="col" *ngIf="ficha.id !== 0">
                        <label for="state" class="form-label">Estado:</label>
                        <div>
                            <input type="checkbox" class="form-check-input bulk-select-checkbox" id="state" name="state"
                                [(ngModel)]="ficha.state" [attr.data-bs-toggle]="'tooltip'"
                                [attr.data-bs-placement]="'top'"
                                [attr.title]="ficha.state ? 'Activo' : 'Inactivo'" />
                            <label class="form-check-label" for="state">{{ ficha.state ? 'Activo' : 'Inactivo'
                                }}</label>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="fichaForm.invalid">
                        {{ isEditing ? 'Actualizar' : 'Guardar' }}
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Título con estilo -->
    <h2 class="title">Lista de fichas</h2>

    <!-- Botón para abrir el modal de agregar ficha -->
    <button class="btn btn-success add-btn" (click)="openModal()"><i class="bi bi-plus-circle"></i> Agregar
        ficha</button>

    <!-- Tabla para mostrar los registros de fichas -->
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Gestor</th>
                <th>Programa</th>
                <th>Ambiente</th>
                <th>Proyecto</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ficha of fichas">
                <td>{{ ficha.codigo }}</td>
                <td>{{ getUserNombre(ficha.userId) }}</td>
                <td>{{ getProgramaNombre(ficha.programaId) }}</td>
                <td>{{ getAmbienteNombre(ficha.ambienteId) }}</td>
                <td>{{ getProyectoNombre(ficha.proyectoId) }}</td>
                <td>{{ ficha.state ? 'Activo' : 'Inactivo' }}</td>
                <td>
                    <button class="btn-icon edit" (click)="editFicha(ficha)" title="Editar">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn-icon delete" (click)="deleteFicha(ficha.id)" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>