<div class="container">
    <!-- Modal para agregar/editar ficha -->
    <div id="fichaModal" class="modal" [ngClass]="{'show-modal': isModalOpen}">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>{{ ficha.id === 0 ? 'Agregar ficha' : 'Editar ficha' }}</h2>
            <hr class="modal-border">

            <form #fichaForm="ngForm" (ngSubmit)="onSubmit(fichaForm)" novalidate>
                <input type="hidden" name="id" [(ngModel)]="ficha.id">

                <div class="row">
                    <div class="col">
                        <label for="codigo" class="form-label">Código:</label>
                        <input type="text" class="form-control" id="codigo" name="codigo" [(ngModel)]="ficha.codigo"
                            placeholder="Escribir un código" required>
                    </div>

                    <div class="col-md-6">
                        <label for="programaNombre" class="form-label">Programa:</label>
                            <input type="text" class="form-control input-field" matInput
                                [matAutocomplete]="autoProgramas" id="programaNombre" name="programaNombre"
                                [(ngModel)]="ficha.programaNombre" (input)="searchPrograma($event)"
                                placeholder="Buscar programa" required #programaNombre="ngModel" />
                            <mat-autocomplete #autoProgramas="matAutocomplete"
                                (optionSelected)="onProgramaSelect($event)">
                                <mat-option *ngFor="let programa of filteredProgramas" [value]="programa.nombre">
                                    {{ programa.nombre }}
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>

                <div class="row">
                    <div class="col">
                        <label for="proyectoNombre" class="form-label">Proyecto:</label>
                            <input type="text" class="form-control input-field" matInput
                                [matAutocomplete]="autoProyectos" id="proyectoNombre" name="proyectoNombre"
                                [(ngModel)]="ficha.proyectoNombre" (input)="searchProyecto($event)"
                                placeholder="Buscar proyecto" required #proyectoNombre="ngModel" />
                            <mat-autocomplete #autoProyectos="matAutocomplete"
                                (optionSelected)="onProyectoSelect($event)">
                                <mat-option *ngFor="let proyecto of filteredProyectos" [value]="proyecto.nombre">
                                    {{ proyecto.nombre }}
                                </mat-option>
                            </mat-autocomplete>
                        </div>

                    <div class="col">
                        <label for="fecha_inicio" class="form-label">Fecha de inicio:</label>
                        <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio"
                            [(ngModel)]="ficha.fecha_inicio" (change)="onDateChange()" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="fecha_fin" class="form-label">Fecha de fin:</label>
                        <input type="date" class="form-control" id="fecha_fin" name="fecha_fin"
                            [(ngModel)]="ficha.fecha_fin" (change)="onDateChange()" required>
                    </div>

                    <div class="col">
                        <label for="fin_lectiva" class="form-label">Fin de lectiva:</label>
                        <input type="date" class="form-control" id="fin_lectiva" name="fin_lectiva"
                            [(ngModel)]="ficha.fin_lectiva" required>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <label for="num_semanas" class="form-label">Número de semanas:</label>
                        <input type="text" class="form-control" id="num_semanas" name="num_semanas"
                            [(ngModel)]="ficha.num_semanas" required>
                    </div>


                    <div class="col">
                        <label for="cupo" class="form-label">Cupo:</label>
                        <input type="number" class="form-control" id="cupo" name="cupo" [(ngModel)]="ficha.cupo"
                            placeholder="Escribir disponibilidad de cupo" required min="0">
                    </div>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col" *ngIf="ficha.id !== 0">
                            <label for="state" class="form-label">Estado:</label>
                            <div>
                                <input type="checkbox" class="form-check-input bulk-select-checkbox" id="state"
                                    name="state" [(ngModel)]="ficha.state"
                                    [ngClass]="ficha.state ? 'state-active' : 'state-inactive'"/>
                                <label class="form-check-label" for="state">{{ ficha.state ? 'Activo' : 'Inactivo'
                                    }}</label>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
                        <button type="submit" class="btn btn-primary" [disabled]="fichaForm.invalid">
                            {{ isEditing ? 'Actualizar' : 'Guardar' }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Título con estilo -->
    <h2 class="title">Lista de fichas</h2>

    <!-- Botón para abrir el modal de agregar ficha -->
    <button class="btn btn-success add-btn" (click)="openModal()"><i class="bi bi-plus-circle"></i> Agregar
        ficha</button>

    <!-- Campo de búsqueda -->
    <div class="search-container">
        <input matInput placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()" />
    </div>

    <!-- Tabla para mostrar los registros de fichas -->
    <div class="table-container">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let ficha"> {{ ficha.codigo }} </td>
            </ng-container>

            <ng-container matColumnDef="programaId">
                <th mat-header-cell *matHeaderCellDef> Programa </th>
                <td mat-cell *matCellDef="let ficha"> {{ getProgramaNombre(ficha.programaId) }} </td>
            </ng-container>

            <ng-container matColumnDef="proyectoId">
                <th mat-header-cell *matHeaderCellDef> Proyecto </th>
                <td mat-cell *matCellDef="let ficha"> {{ getProyectoNombre(ficha.proyectoId) }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_inicio">
                <th mat-header-cell *matHeaderCellDef> Fecha de inicio </th>
                <td mat-cell *matCellDef="let ficha"> {{ ficha.fecha_inicio }} </td>
            </ng-container>

            <ng-container matColumnDef="fecha_fin">
                <th mat-header-cell *matHeaderCellDef> Fecha de fin </th>
                <td mat-cell *matCellDef="let ficha"> {{ ficha.fecha_fin }} </td>
            </ng-container>

            <ng-container matColumnDef="fin_lectiva">
                <th mat-header-cell *matHeaderCellDef> Fin de lectiva </th>
                <td mat-cell *matCellDef="let ficha"> {{ ficha.fin_lectiva }} </td>
            </ng-container>

            <ng-container matColumnDef="num_semanas">
                <th mat-header-cell *matHeaderCellDef> Número de semanas </th>
                <td mat-cell *matCellDef="let ficha"> {{ ficha.num_semanas }} </td>
            </ng-container>

            <ng-container matColumnDef="cupo">
                <th mat-header-cell *matHeaderCellDef> Cupo </th>
                <td mat-cell *matCellDef="let ficha"> {{ ficha.cupo }} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let ficha">
                    <span
                        [ngClass]="ficha.state ? 'state-indicator state-active' : 'state-indicator state-inactive'"></span>
                    {{ ficha.state ? 'Activo' : 'Inactivo' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let ficha">
                    <button class="btn-icon edit" (click)="editFicha(ficha)" title="Editar">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn-icon delete" (click)="deleteFicha(ficha.id)" title="Eliminar">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
            </ng-container>

            <!-- Cabecera y filas de la tabla -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <!-- Paginación -->
    <mat-paginator [length]="fichas.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>